.input{
    height: 220px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-end;
    font-size: 80px;
    font-weight: 300;
    background-color: #0000;
    color: white;
    padding: 0 28px 0px 25px;
    margin-left: 25px;

    overflow: hidden;
    word-wrap: break-word;
}