.App{
    height: 100vh;
    /* background-color: rgb(241, 241, 185); */
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.logo-contenedor{
    width: 100%;
    height: 50px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    
}

/* ======== arreglando botones ============= */

.resultado :first-child{
    min-width: 140px;
}
.resultado :last-child{
    background-color: #F69A06;
}
.resultado :last-child:hover{
    background: #f69a06;
    box-shadow: inset 1px 1px 2px rgb(179, 119, 24),
    inset 4px 4px 15px rgb(155, 83, 20),
    3px 3px 5px rgb(16, 17, 20);
}

.comandos :nth-child(2){
    background-color: #9b9a9a;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.comandos :nth-child(3){
    background-color: #9b9a9a;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.comandos :nth-child(2):hover{
    background-color: #858282;
    box-shadow: inset 1px 1px 2px rgb(145, 144, 140),
    inset 4px 4px 15px rgb(163, 155, 149);
}
.comandos :nth-child(3):hover{
    background-color: #858282;
    box-shadow: inset 1px 1px 2px rgb(145, 144, 140),
    inset 4px 4px 15px rgb(163, 155, 149);
}

/* ========== FIN ================= */

.logo{
    height: 70px;
}

.contenedor-calculadora{
    width: 320px;
    height: 700px;
    padding: 14px;
    background-color: black;
    border-radius: 62px;
    
    box-shadow: -20px -15px 65px rgb(22, 22, 22);

    border: solid 1.5px rgb(238, 229, 229);
    outline: 2px solid rgb(82, 149, 158);
}

.fila{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display{
    display: flex;
}

.icons{
    color: white;
    font-size: 17px;
    padding-left: 2px;
}

.line{
    background-color: white;
    color: white;
    font-size: 3px;
    border-radius: 20px;
    margin-top: 55px;
    margin-left: 105px;
    width: 115px;
}

.desings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -246px;
}
.sound{
    background-color: rgb(17, 17, 17);
    border: solid 1px rgb(32, 32, 32);
    font-size: 4px;
    border-radius: 20px;
    width: 45px;
    margin-right: 10px;
}
.camera{
    background-color: rgb(6, 54, 156);
    width: 5px;
    color: white;
    font-size: 4px;
    border-radius: 50px;
    border: 3px solid rgb(24, 23, 23);
}
.button1{
    border-left: solid 2px rgb(82, 149, 158);
    width: 2px;
    height: 30px;
    background-color: gray;
    color: gray;
    border-radius: 20px;
    position: relative;
    top: 90px;
    right: 20px;
}
.button2{
    border-left: solid 2px rgb(82, 149, 158);
    width: 2px;
    height: 60px;
    background-color: gray;
    color: gray;
    border-radius: 20px;
    position: relative;
    top: 110px;
    right: 20px;
}
.button3{
    border-left: solid 2px rgb(82, 149, 158);
    width: 2px;
    height: 60px;
    background-color: gray;
    color: gray;
    border-radius: 20px;
    position: relative;
    top: 130px;
    right: 20px;
}
.button4{
    border-left: solid 2px rgb(82, 149, 158);
    width: 2px;
    height: 100px;
    background-color: gray;
    color: gray;
    border-radius: 20px;
    position: relative;
    top: 10px;
    left: 335.5px;
    transform: rotate(180deg);
}

.made{
    font-style: italic;
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.made a{
    text-decoration: none;
    color: rgb(122, 83, 23);
}

.made a:hover{
    color: blue;
}